* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #0a9ed0;
    border-radius: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* header */
.header__link02 {
    text-decoration: none;
    color: #fff;
}

.header__link02:hover {
    color: #fff;
}

.header__dropdown {
    font-weight: 500;
    font-size: 19px;
    font-family: 500;
}

.header__link01:after {
    border-bottom: none !important;
}

/* header content */
.carousel-item {
    transition: 1s !important;
}

.carousel-item.active {
    transition: 1s !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.navbar-nav {
    align-items: center;
    display: flex;
    column-gap: 8px;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.dropdown-divider {
    width: 265px !important;
}

.dropdown__li {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #0a9ed0 !important;
}


.header__link {
    display: inline-block;
    text-decoration: none
}

.header__link:after {
    content: "";
    display: block;
    border-radius: 10px;
    width: 0;
    border-bottom: 3px solid;
    margin: 0 auto;
    transition: 0.4s;
}

.dropdown {
    align-items: center;
    display: flex;
    justify-content: center;
}

.header__link:hover:after {
    width: 80%;
}

.header {
    position: fixed;
    z-index: 9999999999999999999999999999;
    width: 100%;
    backdrop-filter: blur(5px);
}

.header__link {
    font-weight: 500;
    font-size: 20px;
}

.header__content {
    padding-top: 94px;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 18.25rem !important;
    left: 15%;
    color: #fff;
    text-align: center;
}

.carousel-inner {
    height: 630px;
    align-items: center;
    display: flex;
}

/* section1 */
.section1__link01 {
    background-color: #0a9ed0;
    border-radius: 15px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.btn-13 {
    background-color: #0a9ed0;
    /*     background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%); */
    background: #0a9ed0;
    /*     background: radial-gradient(circle, rgba(10, 158, 208, 1) 0%, rgba(41, 127, 156, 1) 100%); */
    border: none;
    z-index: 1;
}

.btn-13:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.btn-13:hover {
    color: #fff;
}

.btn-13:hover:after {
    top: 0;
    height: 100%;
}

.btn-13:active {
    top: 2px;
}


.section1__text01 {
    font-size: 30px;
    text-shadow: 6px 2px 6px rgb(131 124 124 / 20%);
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 700;
}

.section1__div01 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    height: 1020px;
    display: flex;
    align-items: center;
}

.section1__div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.corusel__tittle {
    color: #0B0B0B;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px;
    color: #000;
    background: #fff;
    display: inline-block;
    padding: 3px 18px;
    text-transform: uppercase;
}

.corusel__text {
    align-items: center;
    text-align: center;
    font-size: 40px;
    display: flex;
    width: 700px;
}

.corusel__div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 400px;
    display: -webkit-box;
    width: 400px !important;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.corusel__image {
    width: 55px !important;
    height: 55px !important;
}

/* section 2 */

.section2 {
    height: 500px;
    display: flex;
    align-items: center;
    background-color: #F5F7FB;
}

.section2__column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.section2__text {
    width: 600px;
    font-size: 20px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
    text-align: center;
}

.section2__text01 {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}

.column__image {
    width: 100%;
    border-radius: 7px;
    height: 320px;
    object-fit: cover;
}

.fade-right {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
    transition: .4s;
}

.fade-right.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.fade-left {
    opacity: 0;
    transform: translate3d(200px, 0, 0);
    transition: .7s;
}

.fade-left.active {
    opacity: 1;
    transition: .7s;
    transform: translate3d(0, 0, 0);
}

.section2 {
    overflow: hidden;
}



/* top btn */
.scrollToTopBtn {
    border: none;
    cursor: pointer;
    position: fixed;
    border: none;
    width: 48px;
    bottom: 14px;
    right: 23px;
    z-index: 100;
    background: none !important;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
}

.toTopImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    background: none !important;
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}


.sms__div {
    background-color: #000;
    z-index: 9999999999999999;
    position: fixed;
    border-radius: 15px;
    top: 50px;
    width: 500px;
    height: 250px;
}

.sms__div1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    transition: .4s !important;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    transition: .4s !important;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    transition: .4s !important;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    transition: .4s !important;
    text-decoration: none;
    cursor: pointer;
}


/* section 3 */

.btn-15 {
    background: #0a9ed0 !important;
    border: none;
    z-index: 1;
}

.card01__image02 {
    mix-blend-mode: darken;
}

.section3__div03 {
    overflow: hidden;
}

.section3__div04 {
    overflow: hidden;
}

.section3__div05 {
    overflow: hidden;
}

.section3__div06 {
    overflow: hidden;
}

.card01__image05 {
    mix-blend-mode: darken;
}

.card01__image03 {
    mix-blend-mode: darken;
}

.card01__image04 {
    mix-blend-mode: darken;
}

.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #67c5e4 !important;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.4s;
}

.view__item {
    width: 270px !important;
}

.section1__row {
    display: flex;
    row-gap: 25px;
}

.btn-15:hover {
    color: #fff;
}

.btn-15:hover:after {
    left: 0;
    width: 100%;
}

.btn-15:active {
    top: 2px;
}


.section3__div02 {
    overflow: hidden;
}

.card01__image01 {
    mix-blend-mode: darken;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.custom-btn1 {
    width: 250px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.section1__container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.section1__div02 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-11 {
    border: none;
    background: rgb(251, 33, 117);
    background: linear-gradient(0deg, rgba(251, 33, 117, 1) 0%, rgba(234, 76, 137, 1) 100%);
    color: #fff;
    overflow: hidden;
}

.btn-11:hover {
    text-decoration: none;
    color: #fff;
}

.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
    opacity: .7;
}

.btn-11:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@keyframes shiny-btn1 {
    0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
    }

    80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
    }

    81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
    }
}

.section3__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

.section3__iframe {
    -webkit-box-shadow: 17px 10px 54px 11px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 17px 10px 54px 11px rgba(0, 0, 0, 0.19);
    box-shadow: 17px 10px 54px 11px rgba(0, 0, 0, 0.19);
}

.section3 {
    height: 500px;
}

.section3__textarea {
    resize: unset !important;
}

.section3__div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3__column {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.section3 {
    height: 500px;
    align-items: center;
    display: flex;
}

.section3__div01 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3__link {
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #0a9ed0 !important;
    border-radius: 15px;
    transition: .4s;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.section3__column01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
}

.section3__text01 {
    font-size: 30px;
    font-weight: 800;
}

.section3__form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

:root {
    --menu-width: 37.5em;
    --items: 4;
    --item-width: calc(var(--menu-width) / var(--items));
}


nav .menu-item {
    color: #0a9ed0 !important;
    font-weight: 600;
    transform-style: preserve-3d;
    flex-grow: 0;
    display: flex;
    flex-basis: var(--item-width);
    box-sizing: border-box;
    padding: 1em 1.5em;
    justify-content: center;
    perspective: 200px;
    letter-spacing: 0.5px;
}

nav .menu-text,
nav .menu-text a {
    font-size: 1em;
    color: #0a9ed0 !important;
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: color 0.1s ease-out;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

nav .menu-text a:hover {
    color: rgba(255, 255, 255, 0.5);
}

nav .menu-item:hover~#sub-menu-container #sub-menu-holder {
    animation: clipPath 0.25s ease-out 1 forwards;
    transition: clip-path 0.25s ease-out, left 0.15s ease-out, height 0.15s ease-out;
    opacity: 1;
    right: auto;
}

nav .menu-item:nth-of-type(1):hover~#sub-menu-container #sub-menu-holder,
nav .menu-item:nth-of-type(4):hover~#sub-menu-container #sub-menu-holder {
    clip-path: inset(0 28.75em 0 0 round 10px);
    height: 14em;
}

nav .menu-item:nth-of-type(2):hover~#sub-menu-container #sub-menu-holder,
nav .menu-item:nth-of-type(3):hover~#sub-menu-container #sub-menu-holder {
    clip-path: inset(0 15em 0 0 round 10px);
}

nav .menu-item:nth-of-type(1):hover~#sub-menu-container #sub-menu-holder {
    left: calc(-9em + -1px);
}

nav .menu-item:nth-of-type(2):hover~#sub-menu-container #sub-menu-holder {
    left: calc(-6.5em + -1px);
    height: 18.75em;
}

nav .menu-item:nth-of-type(3):hover~#sub-menu-container #sub-menu-holder {
    left: calc(2.75em + 1px);
    height: 24.5em;
}

nav .menu-item:nth-of-type(4):hover~#sub-menu-container #sub-menu-holder {
    left: calc(19em + 1px);
}

.menu-item .sub-menu {
    position: absolute;
    top: 3em;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    min-width: 27.5em;
    pointer-events: none;
    box-sizing: border-box;
    z-index: 999;
    margin-left: -5em;
    clip-path: inset(0 10em 10em 15em);
    opacity: 0;
    font-weight: initial;
    padding: 1.5em;
    transition: .4s;
    background-color: #0a9ed0;
}

.menu-item .sub-menu.double {
    min-width: 41.25em;
    height: 18.75em;
    display: grid;
    grid-template-columns: 54% 50%;
}

.menu-item .sub-menu.triple {
    min-width: 41.25em;
    height: 25em;
    display: grid;
    padding: 1.5em 2.5em;
    grid-template-columns: 55% 45%;
}

.menu-item:hover .sub-menu {
    pointer-events: all;
    clip-path: inset(0 0 0 0);
}

.menu-text:after {
    transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.01s;
    opacity: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: -5em;
    left: calc(50% - 10px);
    border-color: transparent transparent white transparent;
    border-width: 10px;
    border-style: solid;
}

.menu-item:hover .menu-text:after {
    bottom: 0.5em;
    opacity: 1;
    transition: bottom 0.25s ease-out, opacity 0.01s ease-out 0.15s;
}

.menu-item:hover .sub-menu {
    opacity: 1;
    margin-left: 0;
}

.menu-item:hover~#sub-menu-container #sub-menu-holder {
    transition: transform 0.25s ease-out, opacity 0.25s ease-out, clip-path 0.25s ease-out;
}

@keyframes clipPath {
    0% {
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg) scale(1);
        top: 4.5em;
        opacity: 1;
    }
}

/* Menu specific */
.menu-item .title {
    font-weight: 800;
    color: #FFFFFF;
    margin: 0 0 0.25em 0;
}

.menu-item .icon-box * {
    transition: all 0.1s ease-out;
    position: relative;

}

.menu-item .icon-box.space {
    margin-bottom: 1.25em;
}

.menu-item .icon-box.flat {
    height: 1.5em;
    margin-bottom: 0.5em;
}

.menu-item .icon,
.menu-item .text {
    float: left;
    color: #FFFFFF !important;
}

.menu-item .icon {
    color: rgb(44 70 86);
    font-size: 1.25em;
    margin: 0 1em 0 0;
}

.menu-item .icon-box {
    cursor: pointer;
}

.menu-item .icon-box {
    float: left;
    width: 100%;
    margin: 0;
    height: 4em;
    row-gap: 0;
    line-height: 1em;
    align-items: center;
    display: flex;
}

.menu-item .icon-box .text i {
    clip-path: inset(0 100% 0 0);
    font-size: 0.75em;
    position: relative;
    top: -1px;
}

/* Base Icon Style */

/* Define Icon Colors */

.menu-item .icon-box:hover .text i {
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.1s ease-out;
}

.menu-item .icon-box:hover .icon,
.menu-item .icon-box:hover .title,
.menu-item .icon-box:hover .sub-text {
    color: #FFFFFF;
}

#sub-menu-bottom {
    background: #d4e3ea70;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all 0.25s ease-out, height 0.1s ease-out;
    left: 0;
    width: 100%;
    height: 5em;
}

nav .menu-item:nth-of-type(3).highlight:hover~#sub-menu-container #sub-menu-holder #sub-menu-bottom {
    height: 7.5em;
}

.bottom-container {
    grid-area: 4 / -3 / 4 / 3;
    padding-top: 1.5em;
    color: #3a5260;
    font-weight: 500;
}

.top-container {
    grid-area: 1 / -3 / 1 / 3;
    margin: 0 0 2em 0;
}

.bottom-container a {
    float: right;
    background: linear-gradient(90deg, #8ea4b166, #a3b5bf6b);
    padding: 0.5em 1em;
    border-radius: 100px;
    position: absolute;
    color: #2c4655bf;
    font-weight: bold;
    text-decoration: none;
    right: 1.5em;
    bottom: 1.5em;
}

.bottom-container a:hover {
    background: linear-gradient(90deg, #8ea4b136, #a3b5bf33);
}

.sub-menu h3 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgb(44 70 86 / 68%);
    margin: 0.75em 0;
}

.sub-menu .box a {
    width: 100%;
    float: left;
    font-size: 1em;
    line-height: 1.75em;
    color: #7a8a94;
    text-decoration: none;
}

.sub-menu .box a:hover {
    color: rgb(44 70 86);
}

.box {
    margin: 0 0 3em 0;
}

.icon.big i {
    font-size: 1.25em;
    top: 0.2em;
}

nav .menu-item.highlight:hover~#sub-menu-container #sub-menu-holder #sub-menu-bottom {
    opacity: 1;
}

#info-box {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

#info-box ul {
    list-style: none;
}

#info-box a {
    color: white;
    text-decoration: none;
    text-align: right;
    padding: 0.5em 0;
    transition: all 0.1s ease-out;
    display: block;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 900;
    letter-spacing: 1px;
}

#info-box a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.nav__link:focus,
.nav__link:hover {
    text-decoration: none;
    background-color: transparent !important;
}

a:focus,
a:hover {
    text-decoration: unset !important;
}

.fade-botoom {
    opacity: 0;
    transition: .8s;
    transform: translate3d(0, 200px, 0);
}

.fade-botoom.active {
    opacity: 1;
    transition: .5s;
    transform: translate3d(0, 0px, 0);
}

.fade-transition {
    transition: .8s !important;
}

.fade-transition01 {
    transition: 1s !important;
}


.fade-botoom1 {
    opacity: 0;
    transition: .8s;
    transform: translate3d(0, 200px, 0);
}

.fade-botoom1.active {
    opacity: 1;
    transition: .5s;
    transform: translate3d(0, 0px, 0);
}

.fade-transition02 {
    transition: .8s !important;
}

.fade-transition03 {
    transition: 1s !important;
}

.section1__image01 {
    width: 50px;
    height: 25px;
}

.footer {
    background-color: #F5F7FB;
    height: 500px;
    align-items: center;
    display: flex;
}
.footer__div{ 
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}
.footer__div01{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.footer__text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 20px;
    font-weight: 500;
}
.widget-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-weight: 800;
    letter-spacing: 5px;
}

.footer__text02{
    font-weight: 400;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
} 
.copy-right{
    height: 40px;
    display: flex;
    background-color: #F5F7FB;
    align-items: center;
}
.footer__link{
    color: #000;
    text-decoration: none;
}
.copyright-text{
    font-size: 20px;
}